.buttonform {
  color: azure;
  background-color: blueviolet;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  margin: 20px;
}


.buttonmyform {
  color: azure;
  background-color: darkgreen;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  margin: 20px;
}
